<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-7">
          <span style="font-size: 250px;font-family: cursive;">404</span>
          <hr style=" height: 10px; width: 15%; background-color: rgb(88, 4, 245);">
          <br>
          <span style="font-size: 40px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: lighter;">Lo siento, la página que tú estás buscando no se ha podido
            encontrar. <a href="" style="font-size: 25px;" routerLink="/login">Página de Inicio</a></span>
        </div>
        <div class="col-5" style="text-align: center;align-self: center;">
          <img src="assets/images/cancel.png" style="width: 250px;">
        </div>
      </div>
    </div>
  </div>
</div>
