<ng-container>
  <app-toast *ngIf="showMsjToast" [objMsgToast]="objShowNotifi"></app-toast>
  <br>
  <div class="container">
    <div class="row" style="text-align:center;">
      <div class="col-12">
        <div class="row">
          <div class="col-4" *ngFor="let item of arraySpecialties">
            <div class="chipContainer">
              <div class="row">
                <div class="col-12">
                  <div class="row" style="align-items: center;">
                    <div class="col-2"><p-avatar
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
                        size="xlarge" shape="circle"></p-avatar>
                    </div>
                    <div class="col-7 textSpecialties">
                      <p><b>{{item.nombre}}</b></p>
                      <p class="descriptionSpecialtie">La medicina general tiene varios ramas.</p>
                      <small><a class="small-link" data-bs-toggle="modal" data-bs-target="#modalView">Ver más</a>
                      </small>
                    </div>
                    <div class="col-2">
                      <div class="row">
                        <div class="col-6">
                          <img src="assets/images/pen-to-square-regular.svg" style="width: 25px; cursor: pointer;"
                            data-bs-toggle="modal" data-bs-target="#modalEdit">
                        </div>
                        <div class="col-6">
                          <img src="assets/images/circle-xmark-solid.svg" style="width: 25px; cursor: pointer;" (click)="deleteSpeciality(item);">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal View Specialties -->
  <div class="modal fade" id="modalView" tabindex="-1" aria-labelledby="modalViewLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalViewLabel">Medicina General</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="containerImg">
          <img src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" width="100px">
        </div>
        <div class="modal-body">
          La medicina general tiene varios ramas.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Edit Specialties -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><img src="assets/images/microscope-solid.svg"
                width="20px"></span>
            <input type="text" class="form-control" placeholder="Especialidad" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

        </div>
        <div class="containerImg">
          <div class="row">
            <div class="col-4" style="align-self: center;">
              <img src="assets/images/specialties.jpg" width="100px">
            </div>
            <div class="col-8" style="align-self: center;">
              <p-fileUpload #formUpload [showCancelButton]="false"
              (uploadHandler)="uploadImage($event, formUpload)" [customUpload]="true"
              uploadLabel="Subir" chooseLabel="Seleccionar" accept="image/*" [maxFileSize]="1000000">
          </p-fileUpload>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 100px"></textarea>
            <label for="floatingTextarea2">Descripción</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
