/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('assets/images/background-main-menu.jpg');
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}


.text-alert-sm{
  color: red;
}
